/* styles.css (or your CSS file) */

body {
    min-height: 100vh;
    background-color: rgb(17, 25, 39);
    background-image: radial-gradient(at 47% 33%, rgb(145, 22, 254) 0px, transparent 59%), radial-gradient(at 82% 65%, rgb(190, 109, 17) 0px, transparent 55%);
    background-size: cover, cover, 100% 100%;
    background-repeat: no-repeat, no-repeat, repeat;
    background-attachment: fixed, fixed, scroll;
    /* Add a blur effect if needed */
    /* Add any other background-related styles here */
}

@media (max-width: 960px) {
    body {
        background-size: 100% 100%;
    }
}